<!-- registration/home_base2.html -->
{% extends 'home_base.html' %}

{% block activetab %}
<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'login' %}">Inicia Sesión </a>
    <a class="nav-link active" href="{% url 'signup'%}">Registrarse</a>
</nav>
{% endblock %}


{% block content %}


            <h2>DropTable--</h2>
    <img src="../media/calendar.png" class="avatar px-2 py-2" align="middle">
    <p class="lead">Registra, organiza y optimiza el uso de tu tiempo.
    Podrás monitorear tus actividades y comparalas con las de tus amigos.. <br>
    <img src="../media/calendar.png" class="avatar px-1 py-1"> <br>
    <p class="lead"> Optimizar y organizar el uso de tu tiempo es la principal utilidad que tiene DropTable--,

    realizando acciones como crear un horario con el tiempo estimado de tus actividades,
    registrar tiempo real de las actividades realizadas y ver estadísticas de tus amigos.
    Analizando los datos anteriores, podrás lograr un mayor control sobre el uso de tu tiempo.>
</p>

    {% if user.is_authenticated %}
<button type="button" class="btn btn-success" onclick="location.href='{% url 'landing_page' %}'">Ya Estas Logeado</button>
    {% else %}

    {% endif %}
{% endblock %}
