<!-- templates/signup.html -->
{% extends 'home_base.html' %}

{% block activetab %}
<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'login' %}">Inicio</a>
    <a class="nav-link active" href="{% url 'signup'
				     %}">Registrarse</a>
</nav>
{% endblock %}


{% block content %}
<h2>Registrarse</h2>
<form method="post" class="form-signin"> 
    {% csrf_token %}
    {% for field in form %} 
    <div class="fieldWrapper"> 
	{{ field.errors }}
	{{ field.label_tag }} {{ field }}
	{% if field.help_text %} 
	<p class="help">{{ field.help_text|safe }}</p>
	{% endif %}
    </div> 
    {% endfor %}
    
    <button type="submit" class="btn btn-success">Sign up</button>
</form> 	
{% endblock %}
